
{{#if data}}
   {{#if found}}
   <script type="text/javascript">
       engine.speak(" ");
       
       engine.context.context = "office_hours";
       engine.context.current_context = "office_hours";
       engine.context.flash_message ="Tell me Name";
       engine.context.data = false;
   </script>
   {{#if hour_info}}
   <table>
     <tr>
       <td><h5>Name:</h5></td>
       <td><h6>{{upercase name}}</h6></td>
     </tr>
   </table>

   <table class='b' style="width:100%; font-size:0.8em;">
     {{#if ultimate}}
     <!-- <tr style="color:grey;"><th>Index</th><th style="color:pink;">Course Code</th>  <th>Course Title</th>  <th>Teacher First Name</th>  <th>Teacher Lirst Name</th><th>Building</th></tr> -->
     {{#each hour_info}}

          <tr><td style="color:white; font-size:1.5em;" >{{upercase @key}}</td><td style="color:white;font-size:1.5em;" >  {{this}}</td></tr>
          <input class='text_data' type="hidden" name="{{upercase @key}}" value="{{this}}">


     {{/each}}
       <script type="text/javascript">

         displayCanSay({options:["To Text You the Result"],title:"Ask Me!"});
       </script>
     {{else}}
     <tr style="color:grey;"><th>Number</th><th style="color:pink;">Names</th> </tr>
     {{#each hour_info}}
      <tr><td class='course_index' data-index="{{@index}}" data-target="cours_code" data-name="{{this.first_name}}" data-lastname="{{this.last_name}}">{{@index}}</td><td>{{this.first_name}} {{this.last_name}}</td></tr>
     {{/each}}
     <script type="text/javascript">
      displayCanSay({options:["The Index Number to Display More. EX. Say Number 1!"],title:"Tell Me!"});
     </script>
     {{/if}}
   </table>
   {{/if}}
   {{#if all_hours}}
   <div class="course_scroll" style="max-height:800px; overflow:scroll;">
     <table class='b' style="width:100%;">

       <tr style='color:whie;'>

         <td>Number</td>
         <td><center>Names</center></td>
       </tr>
       {{#each all_hours}}
       <tr style="font_size:0.8em;"><td class='course_index' style="color:pink;"data-index="{{@index}}" data-target="course" data-name="{{this.first_name}}" data-lastname="{{this.last_name}}">{{@index}}</td><td>{{this.first_name}} {{this.last_name}}</td>  </tr>
       {{/each}}
     </table>
   </div>
    <script type="text/javascript">
      displayCanSay({options:["The Index Number  Display More. EX. Say Number 1!"],title:"Tell Me!"});
    </script>
   {{/if}}
   {{else}}
   <script type="text/javascript">

    engine.speak("no course found");

   engine.context.context = "office_hours";
   engine.context.current_context = "courses";
   engine.context.flash_message ="Tell me a Name"
   engine.context.data = false;
   </script>
      <h6>Sorry no answer  "{{course}}"</h6>
   {{/if}}




{{else}}

<div id="Home_mainContainer2" style=' width:90%; height:800px; margin:0 auto; position: relative; '></div>
<script type="text/javascript">
console.log("welcome to the course section");
 engine.speak(" ");

engine.context.context = "office_hours";
engine.context.current_context = "courses";
engine.context.flash_message ="Tell me a Name"
engine.context.data = false;
// engine.speak(" ","yes",function(){
//   //engine.speak("what location are you looking for?");
// });
var sentences =[{},{question:"What subject your teacher teaches?" ,ask: "Introduction to Sport, Arts and Entertainment" },{question:"", ask: "Principle of marketing" },{question:"", ask: "Career Preparation" },{question:"", ask: "Organization Studies and Ethical Considerations" },{question:"", ask: "Introductory Accounting II " } ];
var queston_head = $("<div id='' style='position:absolute; width:100%; top:400px;  margin:0 auto; text-align:center; font-size:1.2em; color:grey; color:grey;'>Don't know exactly the teacher you are looking for?</div>");
$("#Home_mainContainer2").append(queston_head);
queston_head.animate({
      top: "0px"
    }, 1000, function() {
      // Animation complete.
    });


function animation(){
  if($("#optionField").length<=0){
    var options = $("<div class='options' id='optionField' style=' text-align:center; width:100%; height:590px; overflow:scroll; position: relative; margin:0 auto; text-align:center; '></div>");
    $("#Home_mainContainer2").append(options);
  }

  var i=1;
  var interval= setInterval(function(){
    if(sentences[i]){
          var p = $("<p id='"+i+"' style='position:absolute; width:100%; top:400px;  margin:0 auto; text-align:center; ' data-ask ='"+sentences[i].ask+"'>"+sentences[i].question+"<br><span style='font-size:0.8em; color:grey; display:none;'>Ex: \""+sentences[i].ask+"\"</span></p>");
      $("#optionField").append(p);
      p.animate({
          top: ""+(i*50)+"px"
        },700, function() {

          $(this).find("span").fadeIn();
          // $(this).append("<br><span style='font-size:0.8em; color:lightblue;'>Say \""+this.dataset.ask+"\"</span>");
          // Animation complete.
        });
    }else {
      clearInterval(interval);
      //$( "#speechBtn" ).trigger( "click" );
      setTimeout(function(){clear();},30000);
    }
    i++;
  },1000);
}
animation();
function clear(){
  var i =0;
  var interval= setInterval(function(){
    if($($(".options p")[i])){
      $($(".options p")[i]).animate({
          top:(Math.floor((Math.random() * 2) + 1) ===1?"-10px":"300px" ),
          left:(Math.floor((Math.random() * 2) + 1) ===1?"300px":"-300px" )
        }, 1000, function() {
          // Animation complete.
          $(this).fadeOut();
          if(parseInt($(this)[0].id)===sentences.length - 1){
              setTimeout(function(){
              $(".options p").remove();
               animation();
             },100);
          }
        });
    }else {
      clearInterval(interval);
      //setTimeout(function(){clear();},3000);
    }
    i++;
  },300);
}


</script>
{{/if}}
